body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    font-family: verdana;
}
.temp-convert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 800px;
    min-width: 500px;
    width: 90vw;
    background-color: black;
    box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
    display: flex;
    color: seashell;
}
.submit{
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.solution{
    width: 50%;
    max-height: 100%;
    padding: 15px;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
     
}
#tempColor{
    background-color: #080808;
}